USE [master]
GO
/****** Object:  Database [NCIT]    Script Date: 7/24/2018 9:22:49 PM ******/
CREATE DATABASE [NCIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NCIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NCIT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NCIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NCIT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NCIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NCIT]
GO
/****** Object:  Table [dbo].[NCI_Trials]    Script Date: 7/24/2018 9:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NCI_Trials](
	[nci_id] [varchar](50) NOT NULL,
	[nct_id] [varchar](50) NULL,
	[id] [varchar](50) NULL,
	[inclusion_indicaInclusionor] [varchar](100) NULL,
	[description] [varchar](1000) NULL,
 CONSTRAINT [PK_NCI_Trials] PRIMARY KEY CLUSTERED 
(
	[nci_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NCIT_Details]    Script Date: 7/24/2018 9:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NCIT_Details](
	[NCI_ID] [varchar](50) NULL,
	[Text] [varchar](1000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NCITInfo]    Script Date: 7/24/2018 9:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NCITInfo](
	[NCIT#] [varchar](max) NOT NULL,
	[ID#] [int] NOT NULL,
	[IncExclusion] [char](10) NOT NULL,
	[Criteria] [varchar](max) NOT NULL,
	[Operator] [varchar](max) NOT NULL,
	[Value] [varchar](max) NOT NULL,
	[Units] [int] NOT NULL,
	[Percentage] [int] NOT NULL,
	[Volume] [int] NOT NULL,
	[Parent#] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
